{% extends "base.twig" %}

{% block main %}
<input style="margin: 1rem;" id="searchbar" onkeyup="barre_recherche()" type="text" name="search" placeholder="Recherche" hidden>

<div class="formulaire">
    <h2 class="formulaire__titre">Modifier un article :</h2>
    <form action="index.php?page=article&action=update" enctype="multipart/form-data" method="POST">
        <input type="text" name="id" value="{{ un_article.id_article }}" readonly hidden>
        <div class="case_form">
            <label for="titre_a">Titre de l'article :</label>
            <input id="titre_a" type="text" name="titre" placeholder="Titre de l'article" value="{{ un_article.titre_article }}">
        </div>
        <div class="case_form">
            <label for="texte_a">Texte de l'article :</label>
            <input id="texte_a" type="text" name="texte" placeholder="Texte de l'article" value="{{ un_article.texte_article }}">
        </div>
        <div class="case_form">
            <label for="date_a">Ajouter une date en rapport à votre article :</label>
            <input id="date_a" type="date" name="date" placeholder="Date de l'évènement" value="{{ un_article.dateevenement_article }}">
        </div>
        <div class="case_form">
            <label for="photo_a">Ajouter une photo à votre article :</label>
            <input id="photo_a" type="file" name="photo" value="{{ un_article.image_article }}" required>
        </div>
        <div class="zone_btn-valider">
            <input class="bouton bouton--valider" type="submit" name="new_article" value="Valider les modifications">          
        </div>
    </form>
    <hr>
    <h2 class="formulaire__titre">ATTENTION : avant de cliquer avoir valider les précédentes modifications /!\</h2>
    <div class="deux_liste_col">
        <div class="liste_col">
            <h4>Enlever une catégorie :</h4>
            {% for categorie in un_article.liste_categories %}
            <a href="index.php?page=article&action=delete_associer_cat&id={{un_article.id_article}}&id_autre={{categorie.id_categorie}}">
                <button>{{ categorie.nom_categorie }}&nbsp&nbsp x</button>
            </a>
            {% endfor %}
        </div>
        <div class="liste_col">
            <h4>Associer une catégorie :</h4>
            {% for categorie in un_article.pas_liste_categories %}
            <a href="index.php?page=article&action=associer_cat&id={{un_article.id_article}}&id_autre={{categorie.id_categorie}}">
                <button>{{ categorie.nom_categorie }}&nbsp&nbsp +</button>
            </a>
            {% endfor %}
        </div>
        <hr>
        <div class="liste_col">
            <h4>Enlever un lieu :</h4>
            {% for lieu in un_article.liste_lieux %}
            <a href="index.php?page=article&action=delete_associer_lieu&id={{un_article.id_article}}&id_autre={{lieu.id_lieu}}">
                <button>{{ lieu.nom_lieu }}&nbsp&nbsp x</button>
            </a>
            {% endfor %}
        </div>
        <div class="liste_col">
            <h4>Associer un lieu :</h4>
            {% for lieu in un_article.pas_liste_lieux %}
            <a href="index.php?page=article&action=associer_lieu&id={{un_article.id_article}}&id_autre={{lieu.id_lieu}}">
                <button>{{ lieu.nom_lieu }}&nbsp&nbsp +</button>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="zone_btn-valider">
        <a href="index.php?page=article&action=read&id={{un_article.id_article}}">
            <button class="bouton bouton--valider">Retour à l'article</button>
        </a>          
    </div>


</div>


{% endblock %}